<% include partials/header %>



		<div class="container">
			<div class="forcast">

				<div class="row justify-content-start tab">
					<div class="col-3 box hover" id="home">
						<a href="/">Home</a>
					</div>
					<div class="col-3 box hover">
						<a href="/favorites">Favorites</a>
					</div>
				</div>

				<div class="row city">
					<div class="col-3">
						<span class="align-middle">Choose a city:</span>
					</div>
					<div class="col-6">
						<input type="text" name="cityName" value="<%= city %>" placeholder="<%= error %>">
					</div>
				</div>

				<div class="row form justify-content-end">
					<form action="/" method="POST" name="myForm" class="col-4 ">
						<input type="hidden" name="hiddenInput" value="">
						<button class="box hover" onclick="copyCity()">Play!</button>
					</form>
				</div>

			</div>
			
		</div>



		<Script type="text/javascript">

		function copyCity(){
			let cityName = document.getElementsByName("cityName")[0].value;
			document.getElementsByName("hiddenInput")[0].value = cityName;
			document.getElementsByName("myForm").action = "/" + cityName;
		}


		</Script>
	

<% include partials/footer %>